body {
  background-color: rgb(231, 226, 226);
}


.color1 {
  color: #997404;
}

.hover1 {
  font-size: 00.9rem;
}

.hover1:hover {
  background-color:#997404;
  color: white;
  border-radius: 50px;
  padding: 0px 5px 0px 5px;
}

.hover22:hover {
  background-color:#997404;
  color: white;
  border-radius: 50px;
  padding: 5px 5px 5px 5px;
}

.button1 {
  background-color: #997404;
}

@media only screen and ( max-width: 1000px) {
  .hover1 {
    font-size: 0.9rem;
  }
}